# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Build System/Scripts
!/.config
!/global.json
!/NuGet.Config
!/Directory.Build.props
!/Directory.Build.targets
!/Directory.Packages.props
!/build.sh

## Markdowns
!*.md
!/LICENSE
!/licenses

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Libraries
!/libs

## Solution
!bus.sln

### Projects
!/BepInEx.MetaLibrary*
/BepInEx.MetaLibrary*/[Bb]in
/BepInEx.MetaLibrary*/[Oo]bj
/BepInEx.MetaLibrary*/[Dd]ist

### Thunderstore Build Projects
!/Thunderstore
/Thunderstore/*/[Bb]in
/Thunderstore/*/[Oo]bj

# Explicit exceptions/ignores
**.user
**.local
!**.template.*.user
